.dr-login-wrapper {
  height: 300px;
  max-width: 500px;
  padding: 3rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  background-color: #fff;
  z-index: 1;
}

.dr-background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
