<div class="row dr-photo-list-item">
  <div class="col-7">
    <img class="dr-stone-img" src="../../../assets/red-stone.jpg">
  </div>
  <div class="col-5 d-flex flex-column">
    <div>name: Red stone</div>
    <div>company: SpaceX</div>
  </div>
  <div ngbDropdown class="d-inline-block dr-dropdown">
    <button class="dr-btn-dropdown" id="dropdownBasic1" ngbDropdownToggle>
      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    </button>
    <div class="dr-dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item">Edit photo</button>
      <button class="dropdown-item">Delete photo</button>
    </div>
  </div>
</div>
