@import '../../styles';

ul {
  list-style-type: none;

  li {
    margin-left: 3rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.dr-active-link {
  color: #3897f0;
}

.dr-navigation {
  width: 100%;
  height: 60px;
  min-width: 600px;
  border-bottom: 1px solid $dr-border-color;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.dr-profile {
  font-size: 1.2rem;
}

.dr-content {
  padding: 60px 0 20px;
  position: relative;
  height: 100%;
}
