<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">Delete photo</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure want to delete this item?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="dr-btn-input dr-btn-blue-input" (click)="activeModal.dismiss('Cross click')">Cancel</button>
    <button type="submit" class="dr-btn-input dr-btn-blue-input">Delete</button>
  </div>
</form>
