/* You can add global styles to this file, and also import other style files */
@import 'assets/variables';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0 !important;
  background-color: #fafafa;
}

.dr-btn-input {
  border-radius: 2px;

  &:hover {
    cursor: pointer;
  }
}

.dr-btn-blue-input {
  background-color: #3897f0;
  border: solid #3897f0;
  color: #fff;
  outline: none;
}

.dr-input {
  background-color: #fafafa;
}

.dr-check {
  color: #60B158;
  font-size: 1.5rem;
}

.dr-ban {
  color: #EB3223;
  font-size: 1.5rem;
}
